<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DLSU Arrows Express Line 1 Reservation - Profile</title>

    <link rel="stylesheet" type="text/css" media="all" href="assets/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>


  </style>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark" style="background-color: #00703c;">
      <a class="navbar-brand" href="home"><img src="assets/img/weblogo-white.png" width="100"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home?firstname={{firstname}}&username={{username}}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/reserve?firstname={{firstname}}&username={{username}}">Reserve</a>
            </li>
          <li class="nav-item active">
            <a class="nav-link" href="/profile?firstname={{firstname}}&username={{username}}">Profile<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars fa-lg" style="color: white;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Profile -->
    <div class="container pt-5 m-auto">
      <div class="row">
        <div class="col-4 position-sticky">
          <div class="profile text-center">
            <img src="{{icon}}" class="mx-auto" id="icon">
            <div class="profile-name">
              {{!-- {{cap lastname}}, {{cap firstname}} --}}
              {{lastname}}, {{firstname}}
            </div>
            <div class="profile-type pb-4">
              RIDER
              <br>
              LEVEL {{priority}}
              <br>
              {{prioritydesc}}
            </div>
            <a href="#profile-panel" class="btn btn-outline-success edit-profile" id="edit">Edit Profile</a>
          </div>
        </div>
        <div class="col-8">
          <div class="reservations mb-4" id="reservation-panel">
            <div class="reservations-title">YOUR RESERVATIONS</div>
            <div class="reservations-line"></div>
            <table class="table table-hover" id="profile-reservelist">
              <thead>
                <tr>
                  <th scope="col">DESTINATION</th>
                  <th scope="col">DATE</th>
                  <th scope="col">TIME</th>
                  <th scope="col">STATUS</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                
                {{# each items}}
                <tr class ="item">
                  <td>{{this.location}}</td>
                  <td>{{this.date}}</td>
                  <td>{{this.time}}</td>
                  <td>{{this.status}}</td>
                  <td class="id" style="display: none;">{{this._id}}</td>
                  <td class="pointer"><i class="far fa-times-circle fa-lg" data-toggle="tooltip" data-placement="top" title="Cancel this reservation" style="color: black;"></i></td>
                  
                  
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="reservations mb-3 pb-4" id="profile-panel">
            <div class="reservations-title">YOUR PROFILE</div>
            <div class="reservations-line"></div>
            <form class="m-auto p-3" id="form-profile" method="post">
            
              <div class="form-group">
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user" name="username" placeholder="{{username}}">
          
              </div>
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="{{firstname}}">
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="{{lastname}}">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="{{email}}">
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" name="password" placeholder="{{password}}">
              </div>
              <div class="form-group">
                <label for="priority">Priority Level</label>
                <input type="email" class="form-control" id="priority" placeholder="{{priority}} - {{prioritydesc}}" readonly>
                <small id="emailHelp" class="form-text text-muted">Contact a system administrator for changes.</small>
              </div>
             
              <button type="submit" class="btn btn-outline-success" id="edit">Submit Change</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type ="text/javascript">
     
    $('tbody').on('click','i',function(){
     var id= $(this).parent().parent().find('.id').text();
     var $delete =  $(this);
     $.get('/deleteProfile',{id: id}, function(flag){
       
          if(flag){
            $delete.parent().parent().remove();
          }
     });
     
    });
    </script>
</body>

</html>