<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DLSU Arrows Express Line 1 Reservation - Reserve</title>

    <link rel="stylesheet" type="text/css" media="all" href="assets/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="assets/js/calendar.js" type="text/javascript"></script>
  </head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark" style="background-color: #00703c;">
      <!-- <a class="navbar-brand" href="#"><img src="assets/dlsu.png" width="180"></a> -->
      <a class="navbar-brand" href="home-admin"><img src="assets/img/weblogo-white.png" width="100"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin?firstname={{firstname}}&username={{username}}">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/reserveAdmin?firstname={{firstname}}&username={{username}}">Reserve<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/editAdmin?firstname={{firstname}}&username={{username}}">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profileAdmin?firstname={{firstname}}&username={{username}}">Profile</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars fa-lg" style="color: white;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Flex two columns — left will be calender, right will be time sched -->
    <div class="container text-center p-4">
      <img src="assets/img/title.png" width="510">
      <center><b style="color:red;">{{err}}</b></center>    
    </div>
 <form method="post">
    <div class="container">
      <div class="row p-auto m-auto text-center">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-check fa-lg"></i></span>
            </div>
            <input type="text" name="riderusername" class="form-control" placeholder="Enter rider username" aria-label="username" aria-describedby="basic-addon1" id="rider-user">
          </div>
        </div>
      </div>
      <div class="row p-4">
        <div class="col">
          <div class="calendar">
            <div class="calendar-title">
              CHOOSE A DAY <i class="fas fa-question-circle fa" data-toggle="tooltip" data-placement="top" title="Click your desired day to reserve a ride"  style="color: white;"></i>
            </div>
          </div>
          <div class="calendar-body m-auto text-center">
            <div class="calendar-title">
              <i class="fas fa-chevron-circle-left" style="color: #00703c;" id="cal-left"></i>
              <span id="cal-title"></span>
              <i class="fas fa-chevron-circle-right" style="color: #00703c;" id="cal-right"></i>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>S</th>
                  <th>M</th>
                  <th>T</th>
                  <th>W</th>
                  <th>H</th>
                  <th>F</th>
                  <th>S</th>
                </tr>
              </thead>
              <tbody id="cal-body" class="pointer">
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <div class="timelist">
            <div class="calendar-title">
              CHOOSE YOUR TIME <i class="fas fa-question-circle fa" data-toggle="tooltip" data-placement="top" title="Click your desired disembarkment time with your respective route" style="color: white;"></i>
            </div>
          </div>
          <div id="carousel-controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="calendar-title">MNL <i class="fas fa-angle-right"></i> LGN</div>
                <div class="timelist-body pointer" id="mnllgn">6:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">7:30AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">9:30AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">11:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">1:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">2:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">3:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">5:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">6:15PM</div>
              </div>
              <div class="carousel-item">
                <div class="calendar-title">LGN <i class="fas fa-angle-right"></i> MNL</div>
                <div class="timelist-body pointer" id="lgnmnl">5:45AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">7:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">9:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">11:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">1:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">2:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">3:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">5:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">6:15PM</div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" style="color: #00703c;" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-circle-left fa-lg" style="color:#00703c;"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-controls" role="button" data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-circle-right fa-lg" style="color:#00703c;"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

   
    <div class="container p-4">
      <div class="row">
        <div class="col">
          <div class="comments">ANY COMMENTS?</div>
          <div class="form-group green-border-focus">
              <textarea class="form-control rounded-5" name="comment" rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-4 m-auto text-center" style="border: 1.5px solid #00703c; border-radius: 10px;">
      <div class="comments">SUMMARY</div>
      <div class="row">
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">FOR</p>
          <p id="summary-user1"></p>
          <textarea id="summary-user" name="user" style="display: none;"></textarea>
        </div>
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">DATE</p>
          <p id="summary-date1"></p>
          <textarea id="summary-date" name="date" style="display: none;"></textarea>
        </div>
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">DESTINATION</p>
          <p id="summary-destination1"></p>
          <textarea id="summary-destination" name="destination" style="display: none;"></textarea>
        </div>
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">TIME</p>
          <p id="summary-time1"></p>
          <textarea id="summary-time" name="time" style="display: none;"></textarea>
        </div>
      </div>
    </div>

    <div class="container p-5 text-center">
    
      <button type="submit" class="btn btn-outline-success" id="submit">Submit</button>
    </div>
    </form>

</body>

</html>